<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <h1 class="display-4">CatalogApp</h1>
    <p class="lead">Su solicitud ha sido registrada</p>
  </div>
</div>

<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">idPedido</th>
      <th scope="col">Producto</th>
      <th scope="col">Fecha Nacimiento</th>
      <th scope="col">Dirección</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Ruta archivo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>1</td>
      <td>Huawei P10</td>
      <td>05/10/2019</td>
      <td>Barrio Restrepo Naranjo</td>
      <td>Sabaneta</td>
      <td>c:/Desktop</td>
    </tr>
  </table>
