
<form #template="ngForm"  (ngSubmit)="enviarSolicitud(template)" >
  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               ngModel
               required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Fecha Nacimiento</label>
      <div class="col-8">
        <input class="form-control"
               type="date"
               placeholder="Fecha Nacimiento"
               name="fecha"
               ngModel
               required>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Dirección de envío</label>
    <div class="col-md-8">
      <input class="form-control"
             type="text"
             placeholder="Dirección de envío"
             name="direccion"
             ngModel
             required>
    </div>
  </div>

  <div class="form-group row">
  <label class="col-2 col-form-label">Ciudad</label>
  <div class="col-md-8">
     <select class="form-control" [(ngModel)]="selectedValue"  name="ciudad" required>
       <option [ngValue]="Armenia" >Armenia</option>
       <option [ngValue]="Bogota">Bogotá</option>
       <option [ngValue]="Cali">Cali</option>
       <option [ngValue]="Medellin">Medellín</option>
     </select>
   </div>
 </div>

 <div class="form-group row">
   <label class="col-2 col-form-label">Subir archivo</label>
   <div class="col-md-8">
     <input accept=".pdf"
            type="file"
            placeholder="Seleccione un archivo"
            name="adjuntar"
            ngModel
            required>
   </div>
 </div>



  <div class="form-group row">
    <label class="col-2 col-form-label"></label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Enviar Solicitud
      </button>
    </div>
  </div>

</form>
